

- title "Journal Entry"
- if @last_entry
  %h2 Last Entry
  .well
    %p
      %b Description:
    = @last_entry.description
    %p
      %b Health Statement:
      = @last_entry.health_statement

= render :partial => "form"
